DATABASE_URL="postgresql://user:password@localhost:5432/tlaqi"

AUTH_SECRET="generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

GOOGLE_SHEETS_CLIENT_EMAIL=""
GOOGLE_SHEETS_PRIVATE_KEY=""
GOOGLE_SHEETS_SPREADSHEET_ID=""

RESEND_API_KEY=""
EMAIL_FROM="Tlaqi <onboarding@tlaqi.co>"

APP_BASE_URL="http://localhost:3000"
